{% extends 'base.html' %}
{% block content %}
	<main class="container-fluid d-flex justify-content-center flex-row" style="margin-top:10%;">
		<div class="card text-center w-25" style="height: 30% !important;">
				<img src="{{url_for('static', filename=user.profile_picture)}}" class="card-img-top align-self-center rounded-circle mt-2" style="width:40%;height:8em;">
				<div class="card-body">
					<h5  class="card-title">{{ user.name }}</h5>
					<p class="card-text">
						Role:
						{% if user.is_admin %}
							Admin
						{% else %}
							Curier
					{% endif %}
					</p>
					<p class="card-text">Email: {{user.email}}</p>
					<p class="card-text">Member since: {{ user.datetime }}</p>
					<a href="/change-profile" class="btn btn-primary">Change profile</a>
				</div>
		</div>
		<div class="d-flex flex-column">
			{% if user.is_admin %}
				<a href="/create-new-order" class="d-flex align-self-sm-end btn btn-primary">
					Create new order
				</a>
			{% endif %}
			{% if orders %}
				<section class="card m-3" style="border: none;width: 104%">
					<div class="card-body">
						<table class="table table-hover" >
						<thead>
							<tr class="table-dark">
								<th>#</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Phone</th>
								<th>Adress</th>
								<th>Status</th>
								<th>Delivery time</th>
								<th>Courier</th>
								<th>Price</th>
							</tr>
						  </thead>
						  <tbody>
							{% for order in orders %}
								<tr>
									<th scope="row">{{ order['order_id']}}</th>
	<!--								<td>{{ order['order_id']}}</td>-->
									<td>{% for product in order['products'] %}({{product[2]}}){% endfor %}</td>
									<td>{% for product in order['products'] %}({{product[5]}}) {% endfor %}</td>
									<td>{{ order['customer_phone'] }}</td>
									<td>{{ order['customer_address'] }}</td>
									<td>{{ order['status'] }}</td>
									<td>{{ order['deliver_time'] }}</td>
									<td>{{ order['courier_id'] }}</td>
									<td>{{ order['total_price'] }}</td>

								</tr>
							{% endfor %}

						  </tbody>
						</table>
					</div>

				</section>
			{% else %}
				<div class="no-orders">
					<h1>No orders</h1>
				</div>
			{% endif %}
		</div>
	</main>
{% endblock %}