body {
    color: #333;
    background-color: #fff;
}

.page_error {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Arvo', serif;
}
.page_error img {
    height: 400px;
}

.content_box_error {
    position: absolute;
    top: 330px;
}

.content_box_error h1,.content_box_error h2  {
    text-align:center;
}

.page_error button {
    margin-top: 10px;
    background-color: #39ac31;
    border: none;
    color: #fff !important;
    margin-left: 15%;
    width: 70%;
    height: 30px;
}

.page_error button:hover {
    background-color: #41c537;
    cursor: pointer;
}