body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}
    
header {
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    background-color: #333;
    color: #fff;
    padding: 18px;
}
    
header h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ddd;
}
    
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
    
header nav li {
    margin: 0 10px;
}
    
header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
    
header nav a:hover {
    color: #ddd;
}

main {
    margin-top: 8%;
}
a {
    text-decoration: none;
    outline: none;
}

.left-column {
    float: left;
    width: 75%;
}

/* Right column */
.right-column {
    float: left;
    width: 25%;
    padding-left: 20px;
}

img {
    width: 100%;
    padding: 20px;
}

.no-news {
    text-align: center;
}
  
/* Add a card effect for articles */
.card {
    position:relative;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.card a {
    color:inherit;
}

.card a:hover {
    color: #555;
}

.card img{
    height:512px;
    border-radius: 5%;
}


.card #author_ {
    font-size: 14px;
}

.card p {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.card #datetime_ {
    color: rgb(143, 133, 133);
}


.about {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    line-height: 20px;
    font-size:15px;
}

.social-networks {
    text-align: center;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
}


.most-active {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.most-active img {
    width: 90%;
    border-radius: 50%;
}


.most-active h2, .most-active h4 {
    text-align: center;
}

.social-networks img {
    width: 30%;
}
.social-networks img:hover {
    cursor: pointer;
    filter: brightness(140%);
}

/* Clear floats after the columns */
main:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: absolute;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
    left:0;
    background-color: #333;
    margin-top: 20px;
}

    
footer p {
    margin: 0;
    font-size: 14px;
}