#link:hover {
    color: #ec5535 !important;
}

.orders {
    font-size: 15px;
    border: none !important;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

#content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.no-border {
    border: none !important;
    box-shadow: none;
}

.create-order {
    align-self: flex-end !important;
    font-size: 5px;
}

/* big tablet */
@media screen and (max-width: 991px) {

}


/* medium tablet */
@media screen and (max-width: 767px) {
/* стили для средних планшетов - начало */

}

/* phone */
@media screen and (max-width: 479px) {
    .orders {
        font-size: 7px !important;
    }
}
