#title:hover {
    color: #ec5535 !important;
}

section {
  height: 40em !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

