body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    background-color: #333;
    color: #fff;
    padding: 18px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ddd;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover {
    color: #ddd;
}
main {
    margin-top: 8%;
}

a {
    text-decoration: none;
    color: inherit;
}

.create_new_order_button {
    background-color: silver;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    margin-bottom: 0.5%;
    border: 1px solid silver;
    width: 13%;
}
.create_new_order_button:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.create_new_order_button img{
    height: 25px;
    width:13%;
}
.create_new_order_button span{
    margin-top: 3px;
}


.profile-card {
    float:left;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 30%;
    padding: 20px;
    text-align: center;
}

.change-profile {
    border: 1px solid silver;
    outline: none;
    background-color: #fff;
    width: 30%;
    height: 40px;
}

.change-profile:hover {
    background-color: silver;
    cursor: pointer;
}


.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    object-fit: cover;
}
.profile-details {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-details li {
    margin: 10px;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    float: right;
    width: 60%;
}
  
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
  
th {
    background-color: #333;
    color: #fff;
}
  
tr:nth-child(even) {
    background-color: #eee;
}
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom:0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}