{% extends 'base.html' %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/create-new-order.css')}}">
{% endblock %}

{% block content %}
	<form>
		<label for="products">Products:</label>
		<div id="products">
			<div class="product-entry">
				<input type="text" placeholder="Enter product name" required>
				<input type="number" placeholder="Enter quantity" min="1" required>
			</div>
			<button type="button" class="add-product">Add another product</button>
		</div>
		<label for="phone">Phone Number:</label>
			<input type="tel" id="phone" placeholder="Enter phone number" required>
		<label for="address">Address:</label>
			<input type="text" id="address" placeholder="Enter address" required>
		<label for="deliver_time">deliver at what time</label>
			<input type="text" id="deliver_time" placeholder="Enter deliver time" required>
		<label for="total">Total Price:</label>
			<input type="number" id="total" placeholder="Total price" readonly>
		<button type="submit">Submit Order</button>
	</form>
	<script>
		// Если вводиться неизвестный продукт то он вставляеться в базу данных
		function createElementFromHTML(htmlString) {
			var div = document.createElement('div');
			div.className = 'product-entry'
			div.innerHTML = htmlString.trim();
			return div.firstChild;
		}
		// Get the button that adds new product entries
		const addProductButton = document.querySelector('.add-product');

		// Get the div that contains the product entries
		const productContainer = document.querySelector('.products');

		// Get last product
		const totalInput = document.querySelector('#total');

		// Create a template for a new product entry
		const productTemplate = `
		<div class="product-entry">
			<input type="text" placeholder="Enter product name" required>
			<input type="number" placeholder="Enter quantity" min="1" required>
		</div>
		`;

		// Add an event listener to the add product button
		addProductButton.addEventListener('click', () => {
			const products = document.getElementsByClassName('product-entry')
			// Add a new product entry to the form
			products[products.length - 1].after(createElementFromHTML(productTemplate))
		});

		document.querySelector('form').addEventListener('input', (event)=>{
			if(event.target.matches("input[type='number']")){
				let sum = 0;
				let items =  productContainer.querySelectorAll('.product-entry input[type="number"]');
				items.forEach((item)=>{
					sum += parseInt(item.value);
				});
				totalInput.value = sum;
			}
		});
	</script>  
{% endblock %}