<!DOCTYPE html>
<html lang="en">
<head>
	<title>Livrare Tiande</title>
	<meta charset="UTF-8">
    {% block css %} {% endblock %}
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
</head>
<body>
	<header>
		<h1><a href="/">Livrare tiande</a></h1>
		<nav>
			<ul>
				<li><a href="/me">Me</a></li>
                <li><a href="/chat">Chat</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{% block content %} {% endblock %}
	</main>
	<footer>
		<p>Copyright &copy; <span id="year"></span>	Tiande</p>
	</footer>
	<script>
		const year = document.querySelector('#year');
		if (year) {
			year.innerHTML = new Date().getFullYear().toString();
		}
	</script>
</body>
</html>