{% extends 'base.html' %}
{% block content %}
<main class="container" style="margin-bottom: 10%;margin-top:10%;">
	{%if newsList%}
        {% for news in newsList %}
			<div class="card mb-3 h-1">
			<img class="card-img-top " src="{{news['image']}}" alt="profile picture" style="height:412px;">
				<div class="card-body">
					<h2 class="card-title">
						<a class="text-decoration-none link-dark" href="/news/{{news['id']}}" id="link">{{news['title']}}</a>
					</h2>
					<p class="card-text" id="content">{{news['content']}}</p>
					<h5 class="card-text text-muted">Author {{news['author']}}</h5>
					<time class="card-text text-muted">{{news['datetime']}}</time>
				</div>
			</div>
        {% endfor %}
	{% else %}
		<div class="text-center">
			<h1>No news</h1>
		</div>
	{% endif %}
</main>
{% endblock %}
