{% extends 'base.html' %}
{% block content %}
<main class="container" style="margin-top: 5%">
<div class="news">
	{% if news %}
		<div class="card mb-3 h-1">
			<img class="card-img-top" alt="news picture" src="{{news['image']}}">
				<div class="card-body">
					<h2 class="card-title">{{news['title']}}</h2>
					<p class="card-text">{{news['content']}}</p>
					<h5 class="card-text text-muted">Author {{news['author']}}</h5>
					<time class="card-text text-muted">{{news['datetime']}}</time>
				</div>
			</div>
	{% endif %}
</div>
</main>
{% endblock %}